* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-family: sans-serif;
}

.display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    border-radius: 15px;
    background-color: #fcfcfc;
    max-height: 600px;
    max-width: 400px;
    padding: 10px;
}

.input_field {
    display: flex;
}

.history-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.calculate-container {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    min-width: 80px;
    border-radius: 50%;
    background-color: #ede4e4;
    font-size: 28px;
}

.calculator_field {
    text-align: right;
    max-height: 70px;
    max-width: 380px;
    font-size: 48px;
    cursor: text;
    border: 2px solid gray;
}

.input {
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.margin_bottom {
    margin-bottom: 7px;
}

.margin_left {
    margin-right: 20px;
}

.clean {
    color: red;
}

.equal {
    color: #fcfcfc;
    background-color: #4b4e99;
}

.margin_top {
    margin-top: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.color_sea {
    color: #4b4e99;
}

img {
    max-width: 30px;
    max-height: 30px;
}

.image {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

@media (max-width: 410px) {

    .container {
        max-width: 350px;
    }

    .calculator_field {
        max-width: 330px;
    }

    .button {
        min-height: 67px;
        min-width: 67px;
    }
}

@media (max-width: 370px) {
    .container {
        max-width: 316px;
    }

    .calculator_field {
        max-width: 296px;
    }

    .button {
        min-height: 58px;
        min-width: 58px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 273px;
    }

    .calculator_field {
        max-width: 252px;
    }

    .button {
        min-height: 48px;
        min-width: 48px;
    }
}